<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Vera - AI Video Detection</title>
</head>

<body>

<header class="container">
    <div class="logo-row">
        <div class="logo-box"></div>
        <div class="logo-text">Vera</div>
    </div>

    <nav class="navbar">
        <div class="nav-item">How it works</div>
        <div class="nav-item">About us</div>
        <div class="nav-item">Contact</div>
    </nav>
</header>

<section class="hero">
    <div class="container">
        <div class="hero-title">
            Detect Video Manipulation with <span class="blue">AI Precision</span>
        </div>
    </div>
</section>

<section class="container">
    <div class="upload-box">
        <div class="upload-icon"></div>
    </div>
</section>

<footer>
    <div class="footer-logo">Vera</div>
    <div class="footer-slogan">Advanced AI-powered Deepfake detection</div>

    <div class="footer-links">
        <span>Terms and conditions</span>
        <span>About us</span>
        <span>Contact</span>
    </div>
</footer>

</body>

</html>
